.page-header {
 background-color: aqua;   
}
.header-navigation {
    background-color: fuchsia;
}
.navigation-list {
    list-style: none;
}
.navigation-item {
    background-color: salmon;
}
.header-btn {
    background-color: khaki;
}
