<header class="page-header">
    <nav class="header-navigation">
        <ul class="navigation-list">
            <li class="navigation-item"><a class="header-link">Тесла</a></li>
            <li class="navigation-item"><a class="header-link">Тойота</a></li>
            <li class="navigation-item"><a class="header-link">Мерс</a></li>
            <li class="navigation-item"><a class="header-link">БМВ</a></li>
        </ul>
    </nav>
    <button class="header-btn" type="button">Купити</button>
</header>